<!DOCTYPE html>
<html lang="en">

{{--  ini head  --}}
@include('dosen.partials.head')
{{--  tutup head  --}}

<body class="page-header-fixed ">
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    @include('dosen.partials.headerInner')
    <!-- END HEADER INNER -->
</div>
<div class="clearfix"> </div>
<div class="page-container">
  <!-- Start page sidebar wrapper -->
  @include('dosen.partials.sidebar')
  <!-- End page sidebar wrapper -->

  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight">
    <div class="page-content">
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2>Aset</h2>
          <ol class="breadcrumb">
            <li> <a href="{{ route('dosen.index') }}">Beranda</a> </li>
            <li> <a href="{{ route('dosen.aset.index') }}">Aset</a> </li>
            <li class="active"> <strong>Aset Kantor</strong> </li>
          </ol>
        </div>
        <div class="col-lg-12"> </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-content collapse in">
                <div class="widgets-container">
                  <div>
                    <table id="aset" class="display nowrap table  responsive nowrap table-bordered">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Nama Ruang</th>
                          <th>Jenis Aset</th>
                          <th>Meja</th>
                          <th>Lemari</th>
                          <th>Kursi</th>
                          <th>Foto</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>No</th>
                          <th>Nama Ruang</th>
                          <th>Jenis Aset</th>
                          <th>Meja</th>
                          <th>Lemari</th>
                          <th>Kursi</th>
                          <th>Foto</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Ruang XX XX XX</td>
                          <th>Aset Kantor</th>
                          <td>10</td>
                          <td>1</td>
                          <td>20</td>
                          <td> <a href="{{ route('dosen.aset.galeri') }}" class="btn aqua btn-sm" type="button"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;<span class="bold">Lihat Galery</span></a></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Ruang XX XX XX</td>
                          <th>Aset Kantor</th>
                          <td>5</td>
                          <td>1</td>
                          <td>10</td>
                          <td> <a href="{{ route('dosen.aset.galeri') }}" class="btn aqua btn-sm" type="button"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;<span class="bold">Lihat Galery</span></a></td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Ruang XX XX XX</td>
                          <th>Aset Kantor</th>
                          <td>10</td>
                          <td>1</td>
                          <td>10</td>
                          <td> <a href="{{ route('dosen.aset.galeri') }}" class="btn aqua btn-sm" type="button"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;<span class="bold">Lihat Galery</span></a></td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Ruang XX XX XX</td>
                          <th>Aset Kantor</th>
                          <td>10</td>
                          <td>3</td>
                          <td>20</td>
                          <td> <a href="{{ route('dosen.aset.galeri') }}" class="btn aqua btn-sm" type="button"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;<span class="bold">Lihat Galery</span></a></td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>Ruang XX XX XX</td>
                          <th>Aset Kantor</th>
                          <td>10</td>
                          <td>5</td>
                          <td>20</td>
                          <td> <a href="{{ route('dosen.aset.galeri') }}" class="btn aqua btn-sm" type="button"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;<span class="bold">Lihat Galery</span></a></td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>Ruang XX XX XX</td>
                          <th>Aset Kantor</th>
                          <td>9</td>
                          <td>0</td>
                          <td>18</td>
                          <td> <a href="{{ route('dosen.aset.galeri') }}" class="btn aqua btn-sm" type="button"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;<span class="bold">Lihat Galery</span></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <!-- start footer -->
    @include('dosen.partials.footer')
    </div>
  </div>
</div>
{{--  script and up page  --}}
@include('dosen.partials.script')
{{--  end script and up page  --}}

</body>
</html>
