<!DOCTYPE html>
<html lang="en">

{{--  ini head  --}}
@include('dosen.partials.head')
{{--  tutup head  --}}

<body class="page-header-fixed ">
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    @include('dosen.partials.headerInner')
    <!-- END HEADER INNER -->
</div>
<div class="clearfix"> </div>
<div class="page-container">
  <!-- Start page sidebar wrapper -->
  @include('dosen.partials.sidebar')
  <!-- End page sidebar wrapper -->

  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight">
    <div class="page-content">
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2>Aset</h2>
          <ol class="breadcrumb">
            <li> <a href="{{ route('dosen.index') }}">Beranda</a> </li>
            <li class="active"> <strong>Profil Saya</strong> </li>
          </ol>
        </div>
        <div class="col-lg-12"> </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
            <div class="col-lg-12">
              <div class="ibox product-detail white-bg">
                <div class="ibox-content">
                  <div class="row">
                    <div class="col-md-5">
                      <!-- start  product slidare-->
                      <section class="product-images">
                        <div> <img class="full-width" src="{{ assetsUrl('assets/admin_ui/assets/images/productDetail/placeholders.jpg') }}" alt=""> </div>
                      </section>
                      <!-- End  product slidare-->
                      <hr>
                    </div>
                    <div class="col-md-7">
                      <h2 class="font-bold m-b-xs"> Nama Dosen</h2>
                      <div >
                        <h2 class="product-main-price">NIP Dosen</h2>
                      </div>
                      <h4>Biodata Dosen</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      
    <!-- start footer -->
    @include('dosen.partials.footer')
    </div>
  </div>
</div>
{{--  script and up page  --}}
@include('dosen.partials.script')
{{--  end script and up page  --}}

</body>
</html>
