<!DOCTYPE html>
<html lang="en">

{{--  ini head  --}}
@include('dosen.partials.head')
{{--  tutup head  --}}


<body>

  <!-- Begin page -->
  <div id="wrapper">

    <!-- Top Bar Start -->
    @include('dosen.partials.navbar')
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    @include('dosen.partials.sidemenu')
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">
          <div class="page-title-box">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <h4 class="page-title">{{title}}</h4>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                  <li class="breadcrumb-item"><a href={{ route('dosen.index') }}>Dosen</a></li>
                  <li class="breadcrumb-item active">{{title}}</li>
                </ol>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end page-title -->

          {{--  disini pake yang google scolar  --}}

        </div>
        <!-- container-fluid -->

      </div>
        <!-- content -->

        {{--  ini footer  --}}
        @include('dosen.partials.footer')
        {{--  ini footer  --}}

      </div>
      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    {{--  ini script  --}}
    @include('dosen.partials.script')
    {{--  ini script  --}}

    

</body>

</html>
